@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #000;
}
.cabecalho a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    height: 64px;
}
.cabecalho a .logo {
    width: 142px;
    height: 18px;
}
.cabecalho .vector {
    width: 149px;
    height: 8px;
}
main .banner {
    width: 100vw;
    height: auto;
}
.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-principal h1 {
    width: 440px;
    font-family: 'poppins';
    font-size: 36px;
    font-weight: 600;
    margin-top: 24px;
}
.conteudo-principal .bold {
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 600;
}
.conteudo-principal p {
    width: 440px;
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 400;
}
.botao-principal {
    width: 440px;
    margin-top: 24px;
}
.botao-principal button {
    width: 187px;
    height: 44px;
    padding: 12px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.botao-principal button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #2b2b2b;
}
.underline {
    width: 440px;
    height: 2px;
    margin-top: 24px;
    margin-bottom: 48px;
    background-color: #C4C4C4;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-secundario h1 {
    width: 440px;
    font-family: 'poppins';
    font-size: 27px;
    font-weight: 600;
    margin-top: 24px;
}
.conteudo-secundario p {
    width: 440px;
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 400;
}
.botao-secundario {
    width: 440px;
    margin-top: 24px;
}
.botao-secundario button {
    width: 153px;
    height: 44px;
    padding: 12px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 500;
}
.botao-secundario button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #2b2b2b;
}
.botao-secundario .botao02 {
        width: 167px;
        height: 44px;
        padding: 12px 16px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 2px;
        font-family: 'poppins';
        font-size: 14px;
        font-weight: 500;
    }
    .botao-secundario .botao03 {
        width: 116px;
        height: 44px;
        padding: 12px 16px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 2px;
        font-family: 'poppins';
        font-size: 14px;
        font-weight: 500;
    }
.divisao-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 148px;
    background-color: #FEEAEA;
}
.divisao-conteudo h2 {
    width: 440px;
    height: 76px;
    font-family: "poppins";
    font-size: 27px;
    font-weight: 600;
}

.secao-divisao-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.divisao-opcoes {
    width: 420px;
    padding: 24px 0px 24px 20px;  
    border: 1px solid #000;
    margin: 10px 0;
}
.divisao-opcoes:hover {
    transform: scale(1.06);
    box-shadow: 1px 1px #505050;
}
input[type=radio] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 10px;
    background-color: #ecd6d6;
    vertical-align: bottom;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #000;
    font-size: 32px;
    text-align: center;
    line-height: 16px;
}
.divisao-opcoes label, .divisao-opcoes input {
    cursor: pointer;
}

.divisao-conteudo--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 223px;
    background-color: #FFF1FE;
}
.divisao-conteudo--footer h2 {
    width: 440px;
    font-family: "poppins";
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.divisao-conteudo--footer p {
    width: 440px;
    font-family: "poppins";
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}
.botao-terciario {
    display: flex;
    width: 440px;
}
.botao-terciario .botao04 {
    width: 148px;
    height: 44px;
    padding: 12px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.botao-terciario .botao04:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #2b2b2b;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 120px;
}
.footer-align {
    width: 440px;
    color: #fff;
    height: 120px;
}
.footer-align p {
    margin: 8px 0;
    font-family: "poppins";
    font-weight: 500;
    font-size: 14px;
}
.footer-align p>span {
    font-family: "poppins";
    font-weight: 400;
    font-size: 10px;
}
.footer-img img {
    margin: 0 5px;
}

@media (max-width:450px) {
    .cabecalho a{
        width: 320px;
      align-items: center;
    }
    .conteudo-principal {
        padding: 0 20px;
    }
     .conteudo-principal h1, .conteudo-principal p, .botao-principal, .underline {
        width: 320px;
    }
     
    .conteudo-secundario img, .conteudo-secundario h1, .conteudo-secundario p, .botao-secundario, .divisao-conteudo h2, .divisao-opcoes {
        width: 320px;
    }
    .divisao-conteudo--footer h2, .divisao-conteudo--footer p, .botao-terciario{
        width: 320px;
    }
    .footer-align {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 335px) {
    .cabecalho a{
        width: 300px;
      align-items: center;
    }
    .conteudo-principal {
        padding: 0 20px;
    }
     .conteudo-principal h1, .conteudo-principal p, .botao-principal, .underline {
        width: 300px;
    }
     
    .conteudo-secundario img, .conteudo-secundario h1, .conteudo-secundario p, .botao-secundario, .divisao-conteudo h2 {
        width: 300px;
    }
    .divisao-conteudo--footer h2, .divisao-conteudo--footer p, .botao-terciario{
        width: 300px;
    }
    .divisao-opcoes{
        width: 250px;
    }
}